.hero-banner
{
    background-image: url('/src/assets/herobanner.png');
    background-size: cover;
    background-position: center;
    font-family: play-fair;
    width:100%;
    height: 90vh;
    z-index:0;
    margin-bottom: 20px;
    
}


.hero-text
{
    font-size: 25px;
    color:white;
    text-align: left;
    margin:0;
    margin-left:5%;

}

.hero-banner
{
    display: flex;
    align-items:center ;

}
.p-font
{
    font-weight:400;
}

.eye-brow
{
    text-transform: uppercase;
    display: flex;
    font-family: 'Poppins',sans-serif;
    margin:0 0;
}

.eye-brow p{
   margin-left: 0%;
   font-size: 20px;
   padding-left:7px;
}

.eye-brow img
{
    margin:0 0;
}

.buttons
{
    margin-top:15px;
    display: flex;
    gap:20px;
    font-family: 'Poppins',sans-serif;
    font-size: 22px;
}

.hero-text h1{
    font-family: Playfair Display;
    padding:1rem 0 1rem  0 ;
    letter-spacing: 1.5px;
    font-weight: 500;
    font-size: 55px;;
}

@media (max-width: 992px) {
    
}

@media (max-width: 768px) {
    .hero-banner
    {
        width:100%;
        height: 120vh;
        z-index:0;
        margin-bottom: 20px;
    
    }

    .hero-text
    {
        padding:10px;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    .p-font
    {
        font-size: 20px;
        
    }

    .hero-text h1{
        font-size: 45px;;
    }

}

@media (max-width: 576px) {

}