.menu {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.menuTitle {
    font-family: "Playfair Display SC", serif;
    font-size: 75px;
    font-style: normal;
    font-variant: bold;
    font-weight: 100;
    line-height: 48px;
    margin-bottom: 40px;
}

.menudescription {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    color: #4a4a4a;
    margin-bottom: 50px;
}

.Buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.Buttons button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Buttons button:hover {
    background-color: #4caf50;
    color: white;
}

.menuList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.MenuItem {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
    padding: 10px;
}

.MenuItem div {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}

.MenuItem h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 16px;
    font-size: large;
    font-style: normal;
    margin: 15px 0;
}

.MenuItem p {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: #777;
}

.MenuItem:hover {
    transform: scale(1.05);
}


/* Responsive Design */

@media (max-width: 768px) {
    .menuList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .menuList {
        grid-template-columns: 1fr;
    }
    .menuTitle {
        font-size: 32px;
    }
    .Buttons button {
        font-size: 14px;
        padding: 8px 15px;
    }
}