.menu{
    display:flex;
    list-style: none;
    gap:90px;
    font-size:18px;
    padding-bottom: 20px;
}
.menu img{
    padding-right: 10px;
    height: 1.5vw;
}
.active{
    color:#148B2D;
    ;
}
.menu li{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.browse{
    padding:50px 100px;
    display:flex;
    flex-direction:column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.browse h1{
    font-weight: 500;
    font-size: 60px;
    line-height: 78px;
    padding-bottom: 20px;
}
.menu-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 50px;
    margin-top: 50px;
    
}
.menu-list-item{
    display: flex;
    flex-direction: column;
    padding:30px;
    background-color: #F6FFFD;
    border: 1px solid #c8c0c0;
    border-radius: 20px;
    color:#034833;
    align-items: center;
}
.menu-list-item img{
    border-radius: 50%;
    width:15vw;
    height: 15vw;
    margin-bottom: 20px;
}
.menu-list-item-name{
    font-size: 1.8vw;
    padding-bottom: 10px;
    text-align: center;
}
.menu-list-item-desc{
    padding-bottom: 15px;
    text-align: center;
}
.menu-list-item-amt{
    text-align: center;
    font-size: 1vw;
    font-weight: 700;
    padding-bottom: 10px;
}

.menu-list-item button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #148B2D;
    margin-top: 0.5vw;
    color:white;
    width: 10vw;
    font-size: 0.9vw;
}