.menu-list{
    display:flex;
    list-style: none;
    gap:90px;
    font-size:18px;
    padding-bottom: 20px;
}
.menu-list img{
    padding-right: 10px;
    height: 1.5vw;
}
.active{
    color:#148B2D;
    ;
}
.menu-list li{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.browse{
    padding:50px 100px;
    display:flex;
    flex-direction:column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.browse h1{
    font-weight: 500;
    font-size: 60px;
    line-height: 78px;
    padding-bottom: 20px;
}


