.delicious {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}
.delicious h1 {
  text-align: center;
  font-weight: 500;
  font-size: 60px;
  line-height: 78px;
  padding-bottom: 10px;
}
.delicious p {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

.delicious-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 220px;
  margin-top: 50px;
}

.delicious-list-item img {
  width: 12vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
}
.delicious-list-item {
  transition: 0.3s;
}
.delicious-list-item p {
  font-size: 20px;
  font-weight: 400;
}
.delicious-list-item:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 768px) {
  .delicious {
    padding: 30px 50px; /* Reduce padding on smaller screens */
  }
  .delicious-list {
    grid-template-columns: 1fr; /* Use a single column on smaller screens */
    column-gap: 0;
  }
  .delicious-list-item img {
    width: 20vw; /* Increase the image width for smaller screens */
    min-width: 60px; /* Ensure the image doesn't become too small */
  }
}
@media screen and (max-width: 576px) {
  .delicious {
    padding: 20px 30px; /* Further reduce padding for very small screens */
  }
  .delicious-list-item img {
    width: 25vw; /* Further increase the image width for very small screens */
    min-width: 50px; /* Ensure it maintains a decent size */
  }
}
